*
{
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(-30deg,#f53803,#f5d020);
}
.register-container
{
	width: 500px;
	height: 500px;
	background: inherit;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: -16px 0 44px 13px rgba(0, 0, 0, 0.1);
}
.register-container h2
{
	text-align: center;
	padding: 20px;
	color: #FFF;
}
.register-container input
{
	width: 70%;
	height: 40px;
	display: flex;
	justify-content:center;
	margin: 15px auto;
	padding: 10px;
	border: none;
	outline: none;
	font-weight: 600;	
}
.register-container a
{
	text-decoration: none;
	color: #FFF;
	font-size: 25px;
	font-style: italic;
	display: flex;
	justify-content: center;
	margin: 20px auto;
	text-shadow: 2px 0px #C3C3C3;
}

/* /////////////  login //////////////// */
.container
{
	padding: 0;
	margin: 0;
	width: 900px;
	height: 500px;
	background: inherit;
	box-sizing: border-box;
	box-shadow: -16px 0 44px 13px rgba(0, 0, 0, 0.1);
}
.container .form-container
{
	width: 400px;
	height: 500px;
	background: inherit;
	float: left;
}
.container .form-container  .login
{
	text-align: center;
	padding: 80px 0 30px;
	color: #FFF;
}

.container .img-container
{
	width: 500px;
	height: 500px;
	float:right;
	padding: 10px;	
}
.container .img-container p
{
	text-align: center;
	color: #FFF;
	font-size: 22px;
	letter-spacing: 2px;
}
.container .img-container img
{
	width: 100%;
	height: 90%;
}

.form-style input
{

	width: 70%;
	height: 40px;
	display: flex;
	justify-content: center;
	margin: 25px auto;
	padding: 10px;
	font-weight: 600;
	border-radius: 15px;
	background: none;
	border: 2px solid #f5d020;
	color: #FFF;
}

.form-style input:hover
{
	border: 2px solid #FFF;
}






